<div class="container title mt-5 ">
    <div class="row">
        <div class="col">

            <h1>
                <i class="fa-solid fa-user-plus"></i> &nbsp; 
                Add Contact Page
            </h1>

            <p style="text-align: justify;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero rem ipsum magnam reiciendis porro officia
                eos in consectetur, cupiditate, perferendis nisi quis consequatur vel fugit esse. Illo unde omnis
                blanditiis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. In a officia hic iusto rerum
                veritatis ex, sapiente natus ut quibusdam earum. Sed nulla atque dolorem sapiente minus aspernatur,
                commodi at?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iure, facilis deleniti quaerat enim
                obcaecati quisquam reprehenderit, blanditiis expedita, vitae ea corporis quam hic nulla magnam labore
                sunt cum voluptatem.
            </p>

        </div>
    </div>

    <!-- <pre>
        {{contactName}}
    </pre> -->

    <!-- add contact form -->

    <div class="container">
        <div class="row ">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="contactName" [(ngModel)]="contactName" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="{{group.id}}" *ngFor="let group of allGroups"> {{group.name}} </option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input (click)="addContact()" value="Create" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4X-UKegvFJk9xQtCqkjcj7m1Wr-cUWk4P0Q&usqp=CAU"
                alt="" class="contact_image mt-2">
            </div>
        </div>
    </div>


</div>